# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

mytest.ipynb
config.py
Aparajita.txt
config.py

new_index.html

engine = create_engine(f"postgresql+psycopg2://postgres:{password}@localhost/cancer_db")
